<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sck.pkg.admin.mapper.AdminMapper">
    <resultMap id="AdminMap" type="Admin">
        <id property="seq" column="SEQ"/>
        <result property="adminId" column="ADMIN_ID"/>
        <result property="adminPw" column="ADMIN_PW"/>
        <result property="adminNm" column="ADMIN_NM"/>
        <result property="adminEmail" column="ADMIN_EMAIL"/>
        <result property="adminTel" column="ADMIN_TEL"/>
        <result property="pwFailCnt" column="PW_FAIL_CNT"/>
        <result property="lockYn" column="LOCK_YN"/>
        <result property="regDate" column="REG_DATE"/>
        <result property="delYn" column="DEL_YN"/>
        <collection property="auth" ofType="Authority">
            <result property="adminSeq" column="ADMIN_SEQ"/>
            <result property="authSeq" column="AUTH_SEQ"/>
        </collection>
        <collection property="authGrp" ofType="AuthorityGrp">
            <id property="seq" column="SEQ"/>
            <result property="authCode" column="AUTH_CODE"/>
            <result property="authName" column="AUTH_NAME"/>
            <result property="regDate" column="REG_DATE"/>
            <result property="modDate" column="MOD_DATE"/>
            <result property="delYn" column="DEL_YN"/>
        </collection>
    </resultMap>

    <!-- 로그인 시 회원정보 -->
    <select id="findByAdminId" resultMap="AdminMap" parameterType="Admin">
        SELECT
        A.ADMIN_ID,
        A.ADMIN_PW,
        A.PW_FAIL_CNT,
        A.LOCK_YN,
        C.AUTH_CODE
        FROM WEB_ADMIN A JOIN WEB_AUTH B
        ON A.SEQ = B.ADMIN_SEQ
        JOIN WEB_AUTH_GRP C
        ON B.AUTH_SEQ = C.SEQ
        WHERE ADMIN_ID = #{adminId}
        AND C.DEL_YN = 'N'

    </select>

    <!-- 회원가입 -->
    <insert id="adminInsert" parameterType="Admin">
        INSERT INTO WEB_ADMIN(SEQ, ADMIN_ID, ADMIN_PW, ADMIN_NM, ADMIN_EMAIL, ADMIN_TEL, PW_FAIL_CNT, LOCK_YN, REG_DATE, DEL_YN)
        VALUES (WEB_ADMIN_SEQ.NEXTVAL, #{adminId}, #{adminPw}, #{adminNm}, #{adminEmail}, #{adminTel}, 0, 'N', SYSDATE, 'N')
    </insert>


    <!-- 권한 -->
    <insert id="authInsert" parameterType="Admin">
        INSERT INTO WEB_AUTH(ADMIN_SEQ, AUTH_SEQ)
        VALUES (
            (SELECT SEQ FROM WEB_ADMIN WHERE ADMIN_ID = #{adminId}),
            (SELECT SEQ FROM WEB_AUTH_GRP WHERE AUTH_CODE = 'ROLE_ADMIN')
        )
    </insert>

    <!-- 로그인 시 정보업데이트 -->
    <update id="loginSuccess" parameterType="String">
         UPDATE WEB_ADMIN
        SET
            PW_FAIL_CNT = 0,
            LAST_LOGIN_DT = SYSDATE
        WHERE ADMIN_ID = #{id}
    </update>

    <!-- 로그인 실패횟수 누적 -->
    <update id="failCnt"  parameterType="String">
        UPDATE WEB_ADMIN
        SET
        PW_FAIL_CNT = PW_FAIL_CNT+1,
        LOCK_YN =
        CASE
            WHEN PW_FAIL_CNT+1 = 5 THEN 'Y'
            ELSE 'N'
        END
        WHERE ADMIN_ID = #{id}
    </update>
    
    <!-- 로그인 실패횟수 초기화 -->
    <update id="failCntReset" parameterType="String">
        UPDATE WEB_ADMIN
        SET
            PW_FAIL_CNT = 0
        WHERE ADMIN_ID = #{id}
    </update>

    <!-- 회원정보상세 -->
    <select id="myProfile" resultType="Admin" parameterType="Admin">
        SELECT
            SEQ,
            ADMIN_ID,
            ADMIN_NM,
            ADMIN_EMAIL,
            ADMIN_TEL,
            REG_DATE,
            DEL_YN
        FROM WEB_ADMIN
        WHERE ADMIN_ID = #{adminId}
    </select>

    <!-- 회원정보수정 -->
    <update id="save" parameterType="Admin">
        UPDATE WEB_ADMIN
        SET
            ADMIN_NM = #{adminNm},
            ADMIN_EMAIL = #{adminEmail},
            ADMIN_TEL = #{adminTel},
            ADMIN_PW = #{adminPw},
            MOD_DATE = SYSDATE
        WHERE ADMIN_ID = #{adminId}
    </update>

    <!-- 회원정보확인 비밀번호 체크 -->
    <select id="passwordCheck" resultType="String" parameterType="Admin">
        SELECT ADMIN_PW
        FROM WEB_ADMIN
        WHERE ADMIN_ID = #{adminId}
    </select>

</mapper>