<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sck.pkg.account.mapper.AdminAccMapper">

    <resultMap id="AdminMap" type="Admin">
        <id property="seq" column="SEQ"/>
        <result property="adminId" column="ADMIN_ID"/>
        <result property="adminPw" column="ADMIN_PW"/>
        <result property="adminNm" column="ADMIN_NM"/>
        <result property="adminEmail" column="ADMIN_EMAIL"/>
        <result property="adminTel" column="ADMIN_TEL"/>
        <result property="pwFailCnt" column="PW_FAIL_CNT"/>
        <result property="lockYn" column="LOCK_YN"/>
        <result property="regDate" column="REG_DATE"/>
        <result property="delYn" column="DEL_YN"/>
        <collection property="auth" ofType="Authority">
            <result property="adminSeq" column="ADMIN_SEQ"/>
            <result property="authSeq" column="AUTH_SEQ"/>
        </collection>
        <collection property="authGrp" ofType="AuthorityGrp">
            <id property="seq" column="SEQ"/>
            <result property="authCode" column="AUTH_CODE"/>
            <result property="authName" column="AUTH_NAME"/>
            <result property="regDate" column="REG_DATE"/>
            <result property="modDate" column="MOD_DATE"/>
            <result property="delYn" column="DEL_YN"/>
        </collection>
    </resultMap>

    <sql id="cmmnOrder">
        ORDER BY SEQ DESC
    </sql>

    <sql id="search">
        <if test="searchType != null">
            <if test="searchType == 'i'.toString()">AND ADMIN_ID LIKE '%' || {keyword} || '%'</if>
            <if test="searchType == 'n'.toString()">AND ADMIN_NM LIKE '%' || #{keyword} || '%'</if>
            <if test="searchType == 'e'.toString()">AND ADMIN_EMAIL LIKE '%' || #{keyword} || '%'</if>
        </if>
    </sql>

    <!-- 전체 조회 -->
    <select id="page" resultMap="AdminMap" parameterType="Admin">
        SELECT
        A.SEQ,
        A.ADMIN_ID,
        A.ADMIN_NM,
        A.ADMIN_EMAIL,
        A.ADMIN_TEL,
        TO_CHAR(A.REG_DATE,'YYYY-MM-DD HH24:MI') REG_DATE,
        A.DEL_YN,
        C.AUTH_NAME
        FROM (
        SELECT
        SEQ,
        ADMIN_ID,
        ADMIN_NM,
        ADMIN_EMAIL,
        ADMIN_TEL,
        REG_DATE,
        DEL_YN,
        ROW_NUMBER() OVER(ORDER BY SEQ DESC) AS ROW_NUM
        FROM WEB_ADMIN
        WHERE DEL_YN = 'N'
        <include refid="search"></include>
        ) A JOIN WEB_AUTH B
        ON A.SEQ = B.ADMIN_SEQ
        JOIN WEB_AUTH_GRP C
        ON B.AUTH_SEQ = C.SEQ
        WHERE ROW_NUM BETWEEN #{rowStart} AND #{rowEnd}
        <include refid="cmmnOrder"/>
    </select>

    <!-- 게시글 상세 -->
    <select id="findByDetail" resultMap="AdminMap" parameterType="Admin">
        SELECT
            A.SEQ,
            A.ADMIN_ID,
            A.ADMIN_NM,
            A.ADMIN_EMAIL,
            A.ADMIN_TEL,
            A.REG_DATE,
            A.DEL_YN,
            A.PW_FAIL_CNT,
            A.LOCK_YN,
            C.AUTH_NAME
        FROM WEB_ADMIN A JOIN WEB_AUTH B
        ON A.SEQ = B.ADMIN_SEQ
        JOIN WEB_AUTH_GRP C
        ON B.AUTH_SEQ = C.SEQ
        WHERE A.SEQ = #{seq}
    </select>

    <update id="failCntReset" parameterType="String">
        UPDATE WEB_ADMIN
        SET PW_FAIL_CNT = 0
        WHERE ADMIN_ID = #{id}
    </update>

    <update id="passwordReset" parameterType="hashMap">
        UPDATE WEB_ADMIN
        SET ADMIN_PW = #{pw}
        WHERE ADMIN_ID = #{id}
    </update>

    <update id="accountIsLock" parameterType="String">
        UPDATE WEB_ADMIN
        SET LOCK_YN = CASE LOCK_YN WHEN 'Y' THEN 'N' ELSE 'Y' END
        WHERE ADMIN_ID = #{id}
    </update>

    <select id="listTotalCount" resultType="int">
        SELECT COUNT(SEQ)
        FROM WEB_ADMIN
        WHERE DEL_YN = 'N'
        <include refid="search"></include>
    </select>

</mapper>